<article class="review-listing review-article">
    <h2>{{review.highlight}} - {{review.firstname}}</h2>
    <p>{{review.description}}</p>
    <div class="source-rating">
        <p>Source: {{review.source}}</p>
        <p>Rating: {{review.rating}} &#9733;</p>
    </div>
</article>